* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pry-font: 'Work Sans', sans-serif;
  --sec-font: 'Panchang', sans-serif;
  --pry-color: rgb(225, 202, 76);
  --pry-deep-color: rgb(143, 127, 47);
  --bg-white: #f8f8ff;
  --card-bg: #f8f4ff;
  --white: #fff;
  --stroke-bottom: #9d9d9d;
  --text-dark: #4a4a4a;
  --text-fade: #aeaeae;
  --box-shadow: rgba(0,0,0,0.1) 0px 0px 5px 0px, rgba(0,0,0,0.1) 0px 0px 1px 0px;
}

html {
  font-family: var(--pry-font);
  font-size: 62.5%;
  line-height: 1.4;
  font-weight: 400;
}

body {
  background-color: var(--bg-white);
  color: var(--text-dark);
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-dark);
  text-decoration: none;
}

